/*
Generic reset.
*/

* {
	padding: 0;
	margin: 0;
}

.test {
	border: 5px red solid;
	padding: 10;
	margin: 10;
	font-family: "Times New Roman";
	font-style: italic;
}

/*
Styles for nodes and connectors.


<rect 
      ng-attr-class="{{node.selected() && 'selected-node-rect' || (node == mouseOverNode && 'mouseover-node-rect' || 'node-rect')}}"
      ry="{{node.ry}}" 
      rx="{{node.rx}}" 
      x="0" 
      y="0" 
      ng-attr-width="{{node.width()}}" 
      ng-attr-height="{{node.height()}}" 
      fill="url(#nodeBackgroundGradient)"

      <!--onmousemove="ShowTooltip(evt, 'Right box')"
      onmouseout="HideTooltip(evt)">--> >
    </rect>

*/

.node-rect {
	stroke: black;
	stroke-width: 2;
}

.mouseover-node-rect {
	stroke: black;
	stroke-width: 4;
}

.selected-node-rect {
	stroke: red;
	stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.mouseover-connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 3;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
	stroke: gray;
	stroke-width: 4;
	fill: transparent;
}	

.mouseover-connection-line {
	stroke: gray;
	stroke-width: 6;
	fill: transparent;
}	

.selected-connection-line {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
}	

.connection-endpoint {
	fill: gray;
}

.selected-connection-endpoint {
	fill: red;
}	

.mouseover-connection-endpoint {
	fill: gray;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}	

.dragging-connection-endpoint {
	fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
}







/* pulled these out of inline formatting */

#json-textarea {
width: 35%; /*600px;*/
float: left;
}

#json-textarea textarea {
width: 100%;
height: 100%;
color: indigo;
}

#flowchart-controls {
 	/*margin-left: 600px;*/
 	margin-left: 35%;
}

.container {width: 100%; overflow: hidden;}

/* is this a valid way to declare something?? */
flow-chart { 
	margin: 5px; width: 100%; height: 100%;
}